$border_color: #9a9d9a;
$remove_item_button: #adaaaa;
$box_shadow_color: #f5d4c3;
.cart{
    margin-top: 40px;
    margin-bottom: 50px;
    justify-content: center;  
    align-items: center;
    background-color: blue($color: #000000);
}
.cart-header{
    border-bottom: 1.5px solid $border_color;
}
.cart-title{
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 0 1rem;
    margin-bottom: 0;
}
.cart h1{
    text-align: center;
}
.row {
    display: grid;  
    place-items: center;  
}
.details {
   width: 60%;
   border: 1px solid rgb(204, 199, 199);
   padding: 0;
   box-shadow: 0 1rem 1rem 1px $box_shadow_color;
}
.details img{
    height: 100px;
}
.details ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    padding: 15px 15px 0 15px;
    border-bottom: 1px solid $border_color;
}
.details ul li .itemQuantity{
    display: flex;
    margin: 10%;
    justify-content: space-between;
}
.details ul li .itemQuantity .quantityCounter{
    border:  1px solid #9ea09e;
    width: 40%;
    text-align: center;
    padding-bottom: 1%;
}
.itemName{
    color: black;
    padding: 0 2rem;
    display: inline-grid;
}

.itemName a {
    color: rgb(59, 60, 59);
    width: fit-content;
    margin-left: 200px;
    margin-top: 20px;
    font-weight:  500;
    text-decoration: none;
    cursor: pointer;
}
.itemName .removeItemBtn{
    color: $remove_item_button;
    font-size: 15px;
}

.continueShoppingBtn, 
.checkoutBtn {
    width: 28%;
    margin: 10px 20px 5px 0;
    padding: 5px 10px 10px 5px;
    border: none;
    color: #fff;
    // box-shadow: 2px;
}
.continueShoppingBtn {
    color: #000;
    margin-left: 1rem;
}
.checkoutBtn {
    background-color: #fb641b;
}