<div class="cart">
  <div class="row">
    <div class="col-sm-8 details">
      <div class="cart-header"><p class="cart-title">MY CART</p></div>
      <ul *ngFor="let cart of cartData">
        <li>
          <div class="item-image"><img src="{{ cart.image }}" alt="item-image" /></div>
          <div class="itemQuantity">
            <div (click)="decItemQuantity(cart.productId)" class="minus">
              <fa-icon [icon]="iconMinus"></fa-icon>
            </div>
            <div class="quantityCounter">{{ cart.quantity }}</div>
            <div (click)="incItemQuantity()" class="plus">
              <fa-icon [icon]="iconPlus"></fa-icon>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item-name">{{ cart.name }}</div>
          <div class="item-price">{{ cart.price }}</div>
          <div class="item-remove">
            <a class="removeItemBtn" (click)="removeItem(cart.id)"> REMOVE </a>
          </div>
        </li>
      </ul>
      <div *ngIf="cartData?.length === 0">
        <h3>Cart is empty. Please add items.</h3>
      </div>
      <div class="actionButtons">
        <button (click)="continueShopping()" class="continueShoppingBtn">
          <p class="continueShoppingText">
            <fa-icon [icon]="iconArrow" class="icon"></fa-icon> CONTINUE
            SHOPPING
          </p>
        </button>
        <button (click)="submitOrder()" class="placeOrderBtn">
          <p class="continueShoppingText">PLACE ORDER</p>
        </button>
      </div>
    </div>
  </div>
</div>
