$border_color: #9a9d9a;
$remove_item_button: #adaaaa;
$box_shadow_color: #f5d4c3;
$default_margin_top: 40px;

.cart {
  margin-top: 40px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}
.cart-header {
  border-bottom: 1.5px solid $border_color;
}
.cart-title {
  font-size: 16px;
  font-weight: 400;
  padding: 0 0 0 1rem;
  margin-bottom: 0;
}
.cart h1 {
  text-align: center;
}
.row {
  display: grid;
  place-items: center;
}
.details {
  width: 60%;
  border: 1px solid rgb(204, 199, 199);
  padding: 0;
  box-shadow: 0 1rem 1rem 1px $box_shadow_color;
}
.details img {
  height: 100px;
}
.details ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  padding: 15px 15px 0 15px;
  border-bottom: 1px solid $border_color;
}
.itemQuantity {
  display: flex;
  margin: 10%;
  justify-content: space-between;
}
.quantityCounter {
  border: 1px solid #9ea09e;
  width: 40%;
  text-align: center;
  padding-bottom: 1%;
}
.item {
  width: 100%;
  color: black;
  padding: 0 2rem;
  display: inline-grid;
}

.item .item-remove {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item .item-remove a {
  text-decoration: none;
  color: $remove_item_button;
  font-size: 15px;
  cursor: pointer;
}

.actionButtons {
  display: flex;
  justify-content: center;
}
.continueShoppingText { 
  font-size: 20px;
}
.icon {
  color: #9a9d9a;
}
.continueShoppingBtn,
.placeOrderBtn {
  width: fit-content;
  margin: 10px;
  padding: 10px 25px 0 25px;
  place-content: center;
  border: none;
  color: #fff;
}
.continueShoppingBtn {
  color: #000;
  margin-left: 1rem;
}
.placeOrderBtn {
  background-color: #fb641b;
}

// mobile cart
@media screen and (max-width: 412px) {
  .cart {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart-header {
    border-bottom: 1.5px solid $border_color;
  }
  .cart-title {
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    margin-bottom: 0;
  }
  .cart h1 {
    text-align: center;
  }
  .row {
    width: 100%;
    display: grid;
    place-items: center;
  }
  .details {
    margin: 0;
    width: 100%;
  }
  .details ul {
    padding: 1vw;
    margin: 0;
    list-style-type: none;
    display: flex;
    border-bottom: 1px solid $border_color;
  }
  .details li {
    padding: 0.5vw;
  }
  .details .item-image {
    background-size: cover;
  }
  .details .minus {
    padding: 0 1vw;
  }
  .ng-fa-icon {
    margin: 0px;
  }

  .itemQuantity {
    display: flex;
    margin: 1vh 0.5vw;
    justify-content: space-between;
  }
  .quantityCounter {
    border: 1px solid #9ea09e;
    text-align: center;
    margin-right: 5px;
  }
  .item {
    width: 100%;
    color: black;
    padding: 0 2rem;
    display: inline-grid;
  }
  .item .item-name,
  .item .item-price {
    font-weight: 500;
    padding-left: 10px;
  }
  .item .item-remove {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item .item-remove a {
    // background-color: green;
    text-decoration: none;
    color: $remove_item_button;
    font-size: 15px;
  }
  .actionButtons {
    display: flex;
    justify-content: space-between;
  }
  .continueShoppingText {
    // color: blue;
    font-size: 15px;
  }
  .icon {
    color: #9a9d9a;
    font-size: 10px;
  }
  .continueShoppingBtn,
  .placeOrderBtn {
    width: fit-content;
    margin: 10px;
    padding: 10px 15px 0 15px;
    place-content: center;
    border: none;
    color: #fff;
  }
  .continueShoppingBtn {
    color: #000;
    margin-left: 1rem;
  }
  .placeOrderBtn {
    background-color: #fb641b;
  }
}
