<div class="tool-bar">
  <h6 class="username">
    <a> <span></span> {{ userName | titlecase }}</a>
  </h6>
</div>
<nav class="nav">
  <h1><a routerLink=""> basket</a></h1>
  <div class="search_bar">
    <input
      type="text"
      (keyup)="searchProducts($event)"
      (blur)="hideSearch()"
      placeholder="search for products"
    />
    <button
      #searchInput
      class="searchbutton"
      (click)="submitSearch(searchInput.value)"
    >
      Search
    </button>
    <ul class="suggested-result" *ngIf="searchResult">
      <li *ngFor="let item of searchResult">
        <a routerLink="/listing/{{ item.id }}">{{ item.name }}</a>
      </li>
    </ul>
  </div>
  <div [ngSwitch]="isLoggedIn" class="">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="">HOME</a></li>
      <li><a routerLink="user">LOG IN</a></li>
      <li>
        <a href="#">CART</a>
      </li>
    </ul>
    <ul *ngSwitchCase="'user'">
      <li><a routerLink="">HOME</a></li>
      <li><a routerLink="orders">MY ORDERS</a></li>
      <li *ngIf="cartItems === 0">
        <a [routerLink]="'cart'"> MY CART </a>
      </li>
      <li *ngIf="cartItems !== 0">
        <a [routerLink]="'cart'"> MY CART({{ cartItems }}) </a>
      </li>
      <li><a (click)="signOut()">LOG OUT</a></li>
    </ul>
  </div>
</nav>
