$backgroundColor: red;
$logo_text_color: blueviolet;
$nav_items_display: inline-flex;
$nav_items_hover_color: white;

.nav{
    background-color: $backgroundColor;
    display: flex;
    justify-content: space-between;
}
.nav h1 {
    color: $logo_text_color;
    margin: 0;
    font-size: 40px;
}
.nav ul{
    display: $nav_items_display;
    list-style-type:  none;
    margin: 0;
    padding: 0;
}
.nav li{
    padding-top: 10px;
    padding-left: 15px;
}
.nav li a{
    color: black;
    text-decoration: none;
    align-items: center;
}
.nav li a:hover{
    color: $nav_items_hover_color;
}

