<div class="homepage-title">
  <h1>Products</h1>
</div>
<div class="row">
  <div class="col-sm-3" *ngFor="let item of productList">
    <!--toFix-->
    <div class="product-item">
      <a routerLink="/details/{{item.id}}"><img src="{{ item.image }}" alt="item-image" /></a>
      
      <div class="product-details">
        <h6 class="product-name">
          {{ item.name | slice : 0 : 50 }}
        </h6>
        <div class="product-price">
          <div class="product-price">
            <span class="product-currency">
              <fa-icon [icon]="icon"></fa-icon>
            </span>
            {{ item.price }}
          </div>
          <div class="product-addToBasket">
            <button class="addToBasket" (click)="addToCart(item.id)">
              ADD TO BASKET
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
